In [46]:
import numpy as np
import pandas as pd
import geopandas as gpd
import geoplot
import re
import matplotlib.pyplot as plt
import folium

ModuleNotFoundError: No module named 'geopandas'

In [48]:
data = pd.read_csv('Audiomoth_Global_Score_Count_and_Median.csv')
coords = pd.read_excel('AudioMothPeru_Coordinates.xlsx', engine='openpyxl')

In [49]:
test_str  = 'GRABADOR-SDZG-AM-10'
test_wwf = 'GRABADOR-WWF-1'

In [50]:
test_wwf.find('WWF')

9

In [17]:
def clean_name(string):
    if string.find('AM') != -1:
        return string[string.find('AM'):]
    else:
        return string[string.find('WWF'):]

In [53]:
data['Name'] = data.Name.apply(clean_name)

In [54]:
data

     Name  Count_Above_0.85  Median_Global_Score
0    AM-1               770             0.248654
1   AM-10               598             0.113959
2   AM-11               570             0.072372
3   AM-12               111             0.100056
4   AM-13                91             0.161304
5   AM-14               615             0.062520
6   AM-15               754             0.112086
7   AM-16               475             0.089241
8   AM-17               691             0.134576
9   AM-18                 1             0.014899
10   AM-2               556             0.079064
11  AM-20               593             0.175693
12  AM-22               886             0.210056
13  AM-23               302             0.031912
14  AM-24              1008             0.112833
15  AM-25               572             0.086394
16  AM-26               623             0.084977
17  AM-27               812             0.093379
18  AM-29               792             0.149619
19   AM-3               693             0.082622
20  AM-30               540             0.062385
21   AM-4               454             0.053489
22   AM-5              1081             0.342143
23   AM-6               642             0.135303
24   AM-7               556             0.063353
25   AM-8               700             0.069205
26   AM-9               685             0.148222
27  WWF-1               703             0.064495
28  WWF-2               954             0.228508
29  WWF-3              1185             0.213843
30  WWF-4              1098             0.123111
31  WWF-5               645             0.090329

In [55]:
tag_list = []
number_list = []
for name in data.Name:
    split = re.split(r'-', name)
    tag_list.append(split[0])
    number_list.append(split[1])

NameError: name 're' is not defined

In [56]:
data['tag'] = tag_list
data['number'] = number_list

ValueError: Length of values (0) does not match length of index (32)

In [57]:
data['number'] = data.number.apply(int)

AttributeError: 'DataFrame' object has no attribute 'number'

In [58]:
data

     Name  Count_Above_0.85  Median_Global_Score
0    AM-1               770             0.248654
1   AM-10               598             0.113959
2   AM-11               570             0.072372
3   AM-12               111             0.100056
4   AM-13                91             0.161304
5   AM-14               615             0.062520
6   AM-15               754             0.112086
7   AM-16               475             0.089241
8   AM-17               691             0.134576
9   AM-18                 1             0.014899
10   AM-2               556             0.079064
11  AM-20               593             0.175693
12  AM-22               886             0.210056
13  AM-23               302             0.031912
14  AM-24              1008             0.112833
15  AM-25               572             0.086394
16  AM-26               623             0.084977
17  AM-27               812             0.093379
18  AM-29               792             0.149619
19   AM-3               693             0.082622
20  AM-30               540             0.062385
21   AM-4               454             0.053489
22   AM-5              1081             0.342143
23   AM-6               642             0.135303
24   AM-7               556             0.063353
25   AM-8               700             0.069205
26   AM-9               685             0.148222
27  WWF-1               703             0.064495
28  WWF-2               954             0.228508
29  WWF-3              1185             0.213843
30  WWF-4              1098             0.123111
31  WWF-5               645             0.090329

In [59]:
ams = data.iloc[0:27]
wwfs = data.iloc[27:]

In [60]:
ams = ams.sort_values('number')

KeyError: 'number'

In [61]:
wwfs

     Name  Count_Above_0.85  Median_Global_Score
27  WWF-1               703             0.064495
28  WWF-2               954             0.228508
29  WWF-3              1185             0.213843
30  WWF-4              1098             0.123111
31  WWF-5               645             0.090329

In [62]:
sorted_data.reset_index(drop=True, inplace=True)
coords.reset_index(drop=True, inplace=True)

NameError: name 'sorted_data' is not defined

In [63]:
sorted_data = pd.concat([ams, wwfs])

In [64]:
sorted_data

     Name  Count_Above_0.85  Median_Global_Score
0    AM-1               770             0.248654
1   AM-10               598             0.113959
2   AM-11               570             0.072372
3   AM-12               111             0.100056
4   AM-13                91             0.161304
5   AM-14               615             0.062520
6   AM-15               754             0.112086
7   AM-16               475             0.089241
8   AM-17               691             0.134576
9   AM-18                 1             0.014899
10   AM-2               556             0.079064
11  AM-20               593             0.175693
12  AM-22               886             0.210056
13  AM-23               302             0.031912
14  AM-24              1008             0.112833
15  AM-25               572             0.086394
16  AM-26               623             0.084977
17  AM-27               812             0.093379
18  AM-29               792             0.149619
19   AM-3               693             0.082622
20  AM-30               540             0.062385
21   AM-4               454             0.053489
22   AM-5              1081             0.342143
23   AM-6               642             0.135303
24   AM-7               556             0.063353
25   AM-8               700             0.069205
26   AM-9               685             0.148222
27  WWF-1               703             0.064495
28  WWF-2               954             0.228508
29  WWF-3              1185             0.213843
30  WWF-4              1098             0.123111
31  WWF-5               645             0.090329

In [65]:
for i in ['AM 19', 'AM 21', 'AM 28']:
    coords = coords[coords.Code != i]

In [66]:
sorted_data.reset_index(drop=True, inplace=True)
coords.reset_index(drop=True, inplace=True)

In [67]:
both = pd.concat([coords, sorted_data], axis=1)

In [68]:
both

,Code,X,Y,Date,Time,Road.Trail,Lat,Long,Name,Count_Above_0.85,Median_Global_Score
0,AM 1,371179,8756251,2019-06-16,NaN,Road,-11.248805,-70.180129,AM-1,770,0.248654
1,AM 2,387647,8771172,2019-06-15,09:53:00,Road,-11.114443,-70.028808,AM-10,598,0.113959
2,AM 3,364248,8754481,2019-06-16,10:11:00,Road,-11.264551,-70.243683,AM-11,570,0.072372
3,AM 4,387629,8713988,2019-06-20,13:06:00,Road,-11.631518,-70.030831,AM-12,111,0.100056
4,AM 5,413088,8754456,2019-06-18,12:25:00,Road,-11.266313,-69.796278,AM-13,91,0.161304
5,AM 6,372473,8759585,2019-06-14,16:15:00,Off-Road,-11.218706,-70.168155,AM-14,615,0.062520
6,AM 7,367470,8761989,2019-06-14,11:58:00,Road,-11.196787,-70.213885,AM-15,754,0.112086
7,AM 8,392448,8765495,2019-06-15,12:07:00,Road,-11.165925,-69.985023,AM-16,475,0.089241
8,AM 9,374330,8754231,2019-06-15,09:49:00,Road,-11.267183,-70.151340,AM-17,691,0.134576
9,AM 10,391817,8761102,2019-06-15,12:53:00,Road,-11.205630,-69.990936,AM-18,1,0.014899
10,AM 11,403357,8762822,2019-06-18,09:22:00,Road,-11.190408,-69.885194,AM-2,556,0.079064
11,AM 12,417699,8711112,2019-06-21,14:47:00,Road,-11.658380,-69.755075,AM-20,593,0.175693
12,AM 13,387589,8756899,2019-06-15,13:54:00,Road,-11.243504,-70.029795,AM-22,886,0.210056
13,AM 14,424864,8714413,2019-06-21,17:48:48,Road,-11.628694,-69.689269,AM-23,302,0.031912
14,AM 15,409611,8768353,2019-06-16,15:06:00,Road,-11.140556,-69.827774,AM-24,1008,0.112833
15,AM 16,393445,8720881,2019-06-21,09:29:00,Road,-11.569375,-69.977266,AM-25,572,0.086394
16,AM 17,379600,8758395,2019-06-14,16:15:00,Road,-11.229715,-70.102921,AM-26,623,0.084977
17,AM 18,374113,8745021,2019-06-15,12:45:00,Road,-11.350452,-70.153661,AM-27,812,0.093379
18,AM 20,362565,8759573,2019-06-14,10:50:00,Road,-11.218445,-70.258899,AM-29,792,0.149619
19,AM 22,398063,8713309,2019-06-21,12:05:00,Road,-11.637984,-69.935145,AM-3,693,0.082622
20,AM 23,381935,8717785,2019-06-20,11:35:00,Road,-11.596994,-70.082925,AM-30,540,0.062385
21,AM 24,391166,8771902,2019-06-15,11:01:00,Road,-11.107951,-69.996566,AM-4,454,0.053489
22,AM 25,389621,8751757,2019-06-15,15:13:00,Road,-11.290064,-70.011344,AM-5,1081,0.342143
23,AM 26,382189,8766790,2019-06-18,16:50:00,Road,-11.153892,-70.078927,AM-6,642,0.135303
24,AM 27,382370,8762331,2019-06-16,12:01:00,Road,-11.194217,-70.077418,AM-7,556,0.063353
25,AM 29,413015,8747362,2019-06-18,14:40:00,Road,-11.330461,-69.797123,AM-8,700,0.069205
26,AM 30,408653,8751058,2019-06-18,16:10:00,Road,-11.296929,-69.836997,AM-9,685,0.148222
27,AM WWF 1,434971,8715982,2019-06-22,17:05:00,Road,-11.614712,-69.596525,WWF-1,703,0.064495
28,AM WWF 2,425911,8729594,2019-06-27,11:05:00,Road,-11.491435,-69.679334,WWF-2,954,0.228508
29,AM WWF 3,400214,8708928,2019-06-22,10:23:00,Road,-11.677663,-69.915543,WWF-3,1185,0.213843
30,AM WWF 4,431893,8726116,2019-06-22,17:48:17,Road,-11.523010,-69.624556,WWF-4,1098,0.123111
31,AM WWF 5,432174,8726302,2019-06-27,13:15:00,Road,-11.521333,-69.621975,WWF-5,645,0.090329

In [69]:
both = both.drop(columns=['Code', 'tag', 'number'])

KeyError: "['tag' 'number'] not found in axis"

In [70]:
both

,Code,X,Y,Date,Time,Road.Trail,Lat,Long,Name,Count_Above_0.85,Median_Global_Score
0,AM 1,371179,8756251,2019-06-16,NaN,Road,-11.248805,-70.180129,AM-1,770,0.248654
1,AM 2,387647,8771172,2019-06-15,09:53:00,Road,-11.114443,-70.028808,AM-10,598,0.113959
2,AM 3,364248,8754481,2019-06-16,10:11:00,Road,-11.264551,-70.243683,AM-11,570,0.072372
3,AM 4,387629,8713988,2019-06-20,13:06:00,Road,-11.631518,-70.030831,AM-12,111,0.100056
4,AM 5,413088,8754456,2019-06-18,12:25:00,Road,-11.266313,-69.796278,AM-13,91,0.161304
5,AM 6,372473,8759585,2019-06-14,16:15:00,Off-Road,-11.218706,-70.168155,AM-14,615,0.062520
6,AM 7,367470,8761989,2019-06-14,11:58:00,Road,-11.196787,-70.213885,AM-15,754,0.112086
7,AM 8,392448,8765495,2019-06-15,12:07:00,Road,-11.165925,-69.985023,AM-16,475,0.089241
8,AM 9,374330,8754231,2019-06-15,09:49:00,Road,-11.267183,-70.151340,AM-17,691,0.134576
9,AM 10,391817,8761102,2019-06-15,12:53:00,Road,-11.205630,-69.990936,AM-18,1,0.014899
10,AM 11,403357,8762822,2019-06-18,09:22:00,Road,-11.190408,-69.885194,AM-2,556,0.079064
11,AM 12,417699,8711112,2019-06-21,14:47:00,Road,-11.658380,-69.755075,AM-20,593,0.175693
12,AM 13,387589,8756899,2019-06-15,13:54:00,Road,-11.243504,-70.029795,AM-22,886,0.210056
13,AM 14,424864,8714413,2019-06-21,17:48:48,Road,-11.628694,-69.689269,AM-23,302,0.031912
14,AM 15,409611,8768353,2019-06-16,15:06:00,Road,-11.140556,-69.827774,AM-24,1008,0.112833
15,AM 16,393445,8720881,2019-06-21,09:29:00,Road,-11.569375,-69.977266,AM-25,572,0.086394
16,AM 17,379600,8758395,2019-06-14,16:15:00,Road,-11.229715,-70.102921,AM-26,623,0.084977
17,AM 18,374113,8745021,2019-06-15,12:45:00,Road,-11.350452,-70.153661,AM-27,812,0.093379
18,AM 20,362565,8759573,2019-06-14,10:50:00,Road,-11.218445,-70.258899,AM-29,792,0.149619
19,AM 22,398063,8713309,2019-06-21,12:05:00,Road,-11.637984,-69.935145,AM-3,693,0.082622
20,AM 23,381935,8717785,2019-06-20,11:35:00,Road,-11.596994,-70.082925,AM-30,540,0.062385
21,AM 24,391166,8771902,2019-06-15,11:01:00,Road,-11.107951,-69.996566,AM-4,454,0.053489
22,AM 25,389621,8751757,2019-06-15,15:13:00,Road,-11.290064,-70.011344,AM-5,1081,0.342143
23,AM 26,382189,8766790,2019-06-18,16:50:00,Road,-11.153892,-70.078927,AM-6,642,0.135303
24,AM 27,382370,8762331,2019-06-16,12:01:00,Road,-11.194217,-70.077418,AM-7,556,0.063353
25,AM 29,413015,8747362,2019-06-18,14:40:00,Road,-11.330461,-69.797123,AM-8,700,0.069205
26,AM 30,408653,8751058,2019-06-18,16:10:00,Road,-11.296929,-69.836997,AM-9,685,0.148222
27,AM WWF 1,434971,8715982,2019-06-22,17:05:00,Road,-11.614712,-69.596525,WWF-1,703,0.064495
28,AM WWF 2,425911,8729594,2019-06-27,11:05:00,Road,-11.491435,-69.679334,WWF-2,954,0.228508
29,AM WWF 3,400214,8708928,2019-06-22,10:23:00,Road,-11.677663,-69.915543,WWF-3,1185,0.213843
30,AM WWF 4,431893,8726116,2019-06-22,17:48:17,Road,-11.523010,-69.624556,WWF-4,1098,0.123111
31,AM WWF 5,432174,8726302,2019-06-27,13:15:00,Road,-11.521333,-69.621975,WWF-5,645,0.090329

In [71]:
# for

In [72]:
world_filepath = gpd.datasets.get_path('naturalearth_lowres')
world = gpd.read_file(world_filepath)
peru = world[world.name == 'Peru' and 'Bolivia' and 'Brazil']

NameError: name 'gpd' is not defined

In [73]:
three_map = pd.DataFrame()
for i in ['Peru', 'Bolivia', 'Brazil']:
    three_map = pd.concat([three_map, world[world.name == i]])

NameError: name 'world' is not defined

In [74]:
three_map

Empty DataFrame
Columns: []
Index: []

In [75]:
geoplot.polyplot(three_map, figsize=(8, 4))

NameError: name 'geoplot' is not defined

In [76]:
plt.scatter(both.Long, both.Lat, s=both.Median_Global_Score * 3000, alpha=0.2)
plt.savefig('Bubble_median.png')

NameError: name 'plt' is not defined

In [77]:
plt.scatter(both.Long, both.Lat, s=both['Count_Above_0.85'] * .3, alpha=0.2)
plt.savefig('Bubble_count.png')

NameError: name 'plt' is not defined

In [78]:
m = folium.Map(location=[-11.2900641, -70.011344], tiles="Stamen Terrain", zoom_start=9)
m

NameError: name 'folium' is not defined

In [79]:
m_median = folium.Map(location=[-11.2900641, -70.011344], tiles="Stamen Terrain", zoom_start=9)
for i in range(0,len(both)):
   folium.CircleMarker(
      location=[both.iloc[i]['Lat'], both.iloc[i]['Long']],
      popup=data.iloc[i]['Name'],
      radius=float((both.iloc[i]['Median_Global_Score'])) * 100,
      color='red',
      fill=True,
      fill_color='red'
   ).add_to(m_median)
m_median
#m_median.save('median_bubble.html')

NameError: name 'folium' is not defined

In [80]:
m_count = folium.Map(location=[-11.2900641, -70.011344], tiles="Stamen Terrain", zoom_start=9)
for i in range(0,len(both)):
   folium.CircleMarker(
      location=[both.iloc[i]['Lat'], both.iloc[i]['Long']],
      popup=data.iloc[i]['Name'],
      radius=float((both.iloc[i]['Count_Above_0.85'])) * .02,
      color='red',
      fill=True,
      fill_color='red'
   ).add_to(m_count)
m_count

NameError: name 'folium' is not defined

In [81]:
both.head()

,Code,X,Y,Date,Time,Road.Trail,Lat,Long,Name,Count_Above_0.85,Median_Global_Score
0,AM 1,371179,8756251,2019-06-16,NaN,Road,-11.248805,-70.180129,AM-1,770,0.248654
1,AM 2,387647,8771172,2019-06-15,09:53:00,Road,-11.114443,-70.028808,AM-10,598,0.113959
2,AM 3,364248,8754481,2019-06-16,10:11:00,Road,-11.264551,-70.243683,AM-11,570,0.072372
3,AM 4,387629,8713988,2019-06-20,13:06:00,Road,-11.631518,-70.030831,AM-12,111,0.100056
4,AM 5,413088,8754456,2019-06-18,12:25:00,Road,-11.266313,-69.796278,AM-13,91,0.161304

In [82]:
mean = 0
std = .005 
num_samples = 1000
samples = np.random.normal(mean, std, size=num_samples)
plt.plot(samples)
plt.show()

NameError: name 'plt' is not defined

In [83]:
def fudge_coords(coord):
    offset = np.random.normal(0, .005)
    new_coord = coord + offset
    return new_coord

In [84]:
new_Lat = both.Lat.apply(fudge_coords)
new_Long = both.Long.apply(fudge_coords)

In [85]:
both

,Code,X,Y,Date,Time,Road.Trail,Lat,Long,Name,Count_Above_0.85,Median_Global_Score
0,AM 1,371179,8756251,2019-06-16,NaN,Road,-11.248805,-70.180129,AM-1,770,0.248654
1,AM 2,387647,8771172,2019-06-15,09:53:00,Road,-11.114443,-70.028808,AM-10,598,0.113959
2,AM 3,364248,8754481,2019-06-16,10:11:00,Road,-11.264551,-70.243683,AM-11,570,0.072372
3,AM 4,387629,8713988,2019-06-20,13:06:00,Road,-11.631518,-70.030831,AM-12,111,0.100056
4,AM 5,413088,8754456,2019-06-18,12:25:00,Road,-11.266313,-69.796278,AM-13,91,0.161304
5,AM 6,372473,8759585,2019-06-14,16:15:00,Off-Road,-11.218706,-70.168155,AM-14,615,0.062520
6,AM 7,367470,8761989,2019-06-14,11:58:00,Road,-11.196787,-70.213885,AM-15,754,0.112086
7,AM 8,392448,8765495,2019-06-15,12:07:00,Road,-11.165925,-69.985023,AM-16,475,0.089241
8,AM 9,374330,8754231,2019-06-15,09:49:00,Road,-11.267183,-70.151340,AM-17,691,0.134576
9,AM 10,391817,8761102,2019-06-15,12:53:00,Road,-11.205630,-69.990936,AM-18,1,0.014899
10,AM 11,403357,8762822,2019-06-18,09:22:00,Road,-11.190408,-69.885194,AM-2,556,0.079064
11,AM 12,417699,8711112,2019-06-21,14:47:00,Road,-11.658380,-69.755075,AM-20,593,0.175693
12,AM 13,387589,8756899,2019-06-15,13:54:00,Road,-11.243504,-70.029795,AM-22,886,0.210056
13,AM 14,424864,8714413,2019-06-21,17:48:48,Road,-11.628694,-69.689269,AM-23,302,0.031912
14,AM 15,409611,8768353,2019-06-16,15:06:00,Road,-11.140556,-69.827774,AM-24,1008,0.112833
15,AM 16,393445,8720881,2019-06-21,09:29:00,Road,-11.569375,-69.977266,AM-25,572,0.086394
16,AM 17,379600,8758395,2019-06-14,16:15:00,Road,-11.229715,-70.102921,AM-26,623,0.084977
17,AM 18,374113,8745021,2019-06-15,12:45:00,Road,-11.350452,-70.153661,AM-27,812,0.093379
18,AM 20,362565,8759573,2019-06-14,10:50:00,Road,-11.218445,-70.258899,AM-29,792,0.149619
19,AM 22,398063,8713309,2019-06-21,12:05:00,Road,-11.637984,-69.935145,AM-3,693,0.082622
20,AM 23,381935,8717785,2019-06-20,11:35:00,Road,-11.596994,-70.082925,AM-30,540,0.062385
21,AM 24,391166,8771902,2019-06-15,11:01:00,Road,-11.107951,-69.996566,AM-4,454,0.053489
22,AM 25,389621,8751757,2019-06-15,15:13:00,Road,-11.290064,-70.011344,AM-5,1081,0.342143
23,AM 26,382189,8766790,2019-06-18,16:50:00,Road,-11.153892,-70.078927,AM-6,642,0.135303
24,AM 27,382370,8762331,2019-06-16,12:01:00,Road,-11.194217,-70.077418,AM-7,556,0.063353
25,AM 29,413015,8747362,2019-06-18,14:40:00,Road,-11.330461,-69.797123,AM-8,700,0.069205
26,AM 30,408653,8751058,2019-06-18,16:10:00,Road,-11.296929,-69.836997,AM-9,685,0.148222
27,AM WWF 1,434971,8715982,2019-06-22,17:05:00,Road,-11.614712,-69.596525,WWF-1,703,0.064495
28,AM WWF 2,425911,8729594,2019-06-27,11:05:00,Road,-11.491435,-69.679334,WWF-2,954,0.228508
29,AM WWF 3,400214,8708928,2019-06-22,10:23:00,Road,-11.677663,-69.915543,WWF-3,1185,0.213843
30,AM WWF 4,431893,8726116,2019-06-22,17:48:17,Road,-11.523010,-69.624556,WWF-4,1098,0.123111
31,AM WWF 5,432174,8726302,2019-06-27,13:15:00,Road,-11.521333,-69.621975,WWF-5,645,0.090329

In [86]:
coord_compare = pd.DataFrame( {'Old Lat' : both.Lat,
               'New Lat' : new_Lat,
               'Old Long' : both.Long,
               'New Long' : new_Long
    
})

In [105]:
coord_compare.to_csv('CoordinateFudge.csv')